	<div class="content">
		<div class="fileUpload input-group">
    		<span>Select a photo</span>
    		<input id="imgup" type="file" class="upload"/>
		</div>
		<!-- <button type="button" class="btn btn-default navbar-btn">Sign in</button> -->
		<div class="input-group input-group-lg select">
		  <input id="name" type="text" class="form-control" placeholder="Item Name">
		</div>
		<div class="input-group input-group-lg select">
		  <input id="desc" type="text" class="form-control" placeholder="Short description">
		</div>
		<div class="input-group input-group-lg select">
		  <input id="origprice" type="text" class="price form-control" placeholder="Original Price">
		  <input id="price" type="text" class="price form-control" placeholder="Bulk Price">
		</div>
		<div class="input-group">
			<span class="input-group-addon">
        		<input id="check" type="checkbox">
      		</span>
			<input id="minnum" type="text" class="form-control" placeholder="Min # of Buyers">
      </div><!-- /btn-group -->
		<div class="input-group input-group-lg select">
		  <a class="myButton">Submit my listing!</a>
		</div>
	</div>